
::-webkit-scrollbar {
    width: 12.5px;
}
  
::-webkit-scrollbar-track {
    background: rgb(238, 238, 238);
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}